<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.CourseTeacherMapper">
    <select id="findBySearch" resultType="CourseTeacher">
        SELECT id, course_id AS courseId, teacher_id AS teacherId, term FROM studentms.course_open
        <where>
            <if test="cid != null">
                course_id = #{cid}
            </if>
            <if test="tid != null">
                AND teacher_id = #{tid}
            </if>
            <if test="term != null">
                AND term = #{term}
            </if>
        </where>
    </select>

    <select id="findMyCourse" resultType="Course">
        SELECT c.id, c.cname, c.ccredit
        FROM studentms.course c INNER JOIN studentms.course_open ct ON c.id = ct.course_id
        WHERE ct.teacher_id = #{tid} AND ct.term = #{term}
    </select>

    <select id="findCourseTeacherInfo" resultType="CourseTeacherInfo">
        SELECT c.id AS course_id, c.cname, t.id AS teacher_id, t.tname, c.ccredit
        FROM studentms.course c INNER JOIN studentms.course_open ct ON c.id = ct.course_id
                INNER JOIN studentms.teacher t ON ct.teacher_id = t.id
        <where>
            <if test="tid != null">
                t.id = #{tid}
            </if>
            <if test="tname != null">
                <if test="tFuzzy == 0">
                    AND t.tname = #{tname}
                </if>
                <if test="tFuzzy == 1">
                    AND t.tname LIKE CONCAT('%', #{tname}, '%')
                </if>
            </if>
            <if test="cid != null">
                AND c.id = #{cid}
            </if>
            <if test="cname != null">
                <if test="cFuzzy == 0">
                    AND c.cname = #{cname}
                </if>
                <if test="cFuzzy == 1">
                    AND c.cname LIKE CONCAT('%', #{cname}, '%')
                </if>
            </if>
        </where>
    </select>
</mapper>