<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.CourseMapper">
    <select id="findBySearch" resultType="Course">
        SELECT * FROM studentms.course
        <where>
            <if test="cid != null">
                id = #{cid}
            </if>
            <if test="cname != null and cname != ''">
                <if test="fuzzy == 0">
                    AND cname = #{cname}
                </if>
                <if test="fuzzy == 1">
                    AND cname LIKE CONCAT('%', #{cname}, '%')
                </if>
            </if>
            <if test="lowBound != null">
                AND ccredit >= #{lowBound}
            </if>
            <if test="highBound != null">
                AND #{highBound} >= ccredit
            </if>
        </where>
    </select>

    <update id="updateById">
        UPDATE studentms.course SET
                               cname = #{course.cname},
                               ccredit = #{course.ccredit},
                               major_id = #{course.majorId},
                               department_id = #{course.departmentId},
                               category = #{course.category},
                               nature = #{course.nature},
                               exam_method = #{course.examMethod},
                               hours = #{course.hours}
        WHERE id = #{course.id};
    </update>

    <insert id="insertCourse" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO studentms.course (cname, ccredit, major_id, department_id, category, nature, exam_method, hours) 
        VALUES (#{course.cname}, #{course.ccredit}, #{course.majorId}, #{course.departmentId}, 
                #{course.category}, #{course.nature}, #{course.examMethod}, #{course.hours})
    </insert>

    <delete id="deleteById">
        DELETE FROM studentms.course WHERE id = #{cid}
    </delete>
</mapper>
