<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.StudentCourseTeacherMapper">
    <select id="findByStudentId" resultType="CourseTeacherInfo">
        SELECT c.id AS course_id, c.cname, t.id AS teacher_id, t.tname, sct.grade, c.ccredit
        FROM studentms.score sct 
        INNER JOIN studentms.teacher t ON sct.teacher_id = t.id
        INNER JOIN studentms.course c ON sct.course_id = c.id
        WHERE sct.student_id = #{sid} AND sct.term = #{term}
    </select>

    <select id="findBySearch" resultType="SCTInfo">
        SELECT 
            sct.course_id AS cid, 
            c.cname, 
            sct.teacher_id AS tid, 
            t.tname, 
            sct.student_id AS sid, 
            s.sname, 
            s.student_no,
            sct.grade, 
            sct.term,
            sct.usual_score AS usualScore, 
            sct.mid_score AS midScore, 
            sct.final_score AS finalScore, 
            sct.remark,
            s.class_id, 
            s.major_id, 
            s.department_id,
            cls.name AS class_name, 
            m.name AS major_name, 
            d.name AS department_name, 
            gl.name AS grade_level,
            c.category AS course_category, 
            c.nature AS course_nature, 
            c.exam_method, 
            c.hours, 
            c.ccredit AS credit,
            t.tname as teacher_real_name
        FROM studentms.score sct 
        LEFT JOIN studentms.student s ON sct.student_id = s.id
        LEFT JOIN studentms.teacher t ON sct.teacher_id = t.id
        LEFT JOIN studentms.course c ON sct.course_id = c.id
        LEFT JOIN studentms.class cls ON s.class_id = cls.id
        LEFT JOIN studentms.major m ON s.major_id = m.id
        LEFT JOIN studentms.department d ON s.department_id = d.id
        LEFT JOIN studentms.grade_level gl ON s.grade_level_id = gl.id
        <where>
            <if test="sid != null">
                sct.student_id = #{sid}
            </if>
            <if test="tid != null">
                AND sct.teacher_id = #{tid}
            </if>
            <if test="cid != null">
                AND sct.course_id = #{cid}
            </if>
            <if test="sname != null and sname != ''">
                AND s.sname LIKE CONCAT('%', #{sname}, '%')
            </if>
            <if test="tname != null and tname != ''">
                AND t.tname LIKE CONCAT('%', #{tname}, '%')
            </if>
            <if test="cname != null and cname != ''">
                AND c.cname LIKE CONCAT('%', #{cname}, '%')
            </if>
            <if test="term != null and term != ''">
                AND sct.term = #{term}
            </if>
            <if test="classId != null">
                AND s.class_id = #{classId}
            </if>
            <if test="majorId != null">
                AND s.major_id = #{majorId}
            </if>
            <if test="departmentId != null">
                AND s.department_id = #{departmentId}
            </if>
            <if test="className != null and className != ''">
                AND cls.name LIKE CONCAT('%', #{className}, '%')
            </if>
            <if test="majorName != null and majorName != ''">
                AND m.name LIKE CONCAT('%', #{majorName}, '%')
            </if>
            <if test="departmentName != null and departmentName != ''">
                AND d.name LIKE CONCAT('%', #{departmentName}, '%')
            </if>
            <if test="gradeLevelId != null">
                AND s.grade_level_id = #{gradeLevelId}
            </if>
            <if test="lowBound != null">
                AND sct.grade IS NOT NULL AND sct.grade >= #{lowBound}
            </if>
            <if test="highBound != null">
                AND sct.grade IS NOT NULL AND sct.grade &lt;= #{highBound}
            </if>
        </where>
    </select>

    <insert id="batchInsert">
        INSERT INTO studentms.score (
            student_id, course_id, teacher_id, term, 
            usual_score, mid_score, final_score, grade, remark
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.studentId}, #{item.courseId}, #{item.teacherId}, #{item.term}, 
                #{item.usualScore}, #{item.midScore}, #{item.finalScore}, #{item.grade}, #{item.remark}
            )
        </foreach>
    </insert>
</mapper>
