<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.WordPaperMapper">
    <select id="findAll" resultType="WordPaper">
        SELECT id,
               file_name  AS fileName,
               file_path  AS filePath,
               upload_by  AS uploadBy,
               upload_time AS uploadTime
        FROM studentms.exam_paper_analysis
        ORDER BY upload_time DESC
    </select>

    <select id="findById" resultType="WordPaper">
        SELECT id,
               file_name  AS fileName,
               file_path  AS filePath,
               upload_by  AS uploadBy,
               upload_time AS uploadTime
        FROM studentms.exam_paper_analysis
        WHERE id = #{id}
    </select>

    <select id="findBySearch" resultType="WordPaper">
        SELECT id,
               file_name  AS fileName,
               file_path  AS filePath,
               upload_by  AS uploadBy,
               upload_time AS uploadTime
        FROM studentms.exam_paper_analysis
        <where>
            <if test="fileName != null and fileName != ''">
                file_name LIKE CONCAT('%', #{fileName}, '%')
            </if>
            <if test="uploadBy != null and uploadBy != ''">
                AND upload_by LIKE CONCAT('%', #{uploadBy}, '%')
            </if>
        </where>
        ORDER BY upload_time DESC
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO studentms.exam_paper_analysis (file_name, file_path, upload_by, uploader_role, upload_time)
        VALUES (#{paper.fileName}, #{paper.filePath}, #{paper.uploadBy}, 'teacher', #{paper.uploadTime})
    </insert>

    <delete id="deleteById">
        DELETE FROM studentms.exam_paper_analysis WHERE id = #{id}
    </delete>
</mapper>
